.section-card{
    display: flex;
    padding: 1.5em;
    width: 80%;
    border: .2em solid;
    border-radius: .5em;
    margin-bottom: 4em;
    flex-direction: column;
       
}
.parent article{
    transition: transform 0.4s ease-in-out;
}
.parent article:hover {
    transform: translateY(20px);
}
.img-card{
    border-radius: .2em;
    margin-bottom: 1em;
}
.h2-card,
.p-card,
.p-date {
     margin-bottom: .5em;
}
.button-like{
    border: none;
    font-size:2em;
    display: flex;
}
.h2-card,
.p-card{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 10rem;
}

