*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    text-decoration: none;
}
.err-loading{
    margin: 10rem;
    text-align: center;
}

/* Styles selon le thème dark ou light*/
@media (prefers-color-scheme: dark) {
  * {
    background-color: #372626;
    color: #e7d1c9;
  }
}

@media (prefers-color-scheme: light) {
  * {
    background-color: #e7d1c9;
    color: #372626;
  }
}
.error-404{
  margin-top: 15%;
  margin-bottom: 15%;
  text-align: center;
}

